* {

    box-sizing: border-box;
}

/* Header */

header {
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 10em);
    grid-gap: 154px;
    align-items: center;
    margin: -8px -8px 80px -8px;
    top: 0px;
    position: sticky;
}

/* logo */
#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo h5 {
    margin: 0px;
    color: #d3d370;
}

#logo img {
    height: 100px;
    width: 100px;
}

/* navbar */
#navbar {
    display: grid;
    grid-template-columns: repeat(4, 136px);
    grid-gap: 23px;
    justify-items: center;
}

.navitems a {
    border-radius: 27px;
    padding: 11px 22px;
    color: white;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
}

.navitems a:hover {
    background-color: white;
    color: black;
}

header::before {
    content: "";
    background-color: black;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    opacity: 0.3;
    z-index: -1;

}

/* Home */
#home {
    height: 445px;
    color: white;
}

#home::before {
    content: "";
    height: 480px;
    position: absolute;
    background: url('../images/bghome.png') no-repeat center center/cover;
    height: 642px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

.line {
    font-size: 64px;
    font-family: Anton, sans-serif;
    font-weight: 800;
    width: 100%;
    text-align: center;
    color: #FFDE00;
}

/* About us Section */
#about-content p {
    font-family: 'Arvo', serif;
}

#about {
    position: relative;
    margin: -35px -8px;
    color: white;
}

#about .about-container {
    display: flex;
    align-content: center;
    align-items: center;
}

#about-content {
    font-size: 115%;
    /* border: 2px solid pink; */
    margin: 20px 35px;
    padding: 23px;
}

#about-image {
    text-align: center;
    font-weight: bolder;
}

#about-image img {
    filter: invert(1);
}

#about::before {
    content: "";
    height: 100%;
    position: absolute;
    background: url('../images/bgabout.png') no-repeat center center/cover;
    /* height: 100%; */
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

/* Service-Section */
.service-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
}

.service-content {
    color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 31px;
    padding: 23px;
    box-shadow: 1px 11px 17px 0px #4c4141;
    background-color: #5c57c5;
    /* transition:all 0.5s ease-in-out;; */
}

/* .service-content:hover{
      width:350px;
      height:350px;
} */
.service-image img {
    filter: invert(1);
    height: 100px;
}

.service-para {
    text-align: center;
}

/* Contact box */
.contact-content {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-item {

    margin: 2px 3px;
}

.fbox {
    display: flex;
}

.first-box {
    display: flex;
    flex-direction: column;
}

.second-box {
    display: flex;
    flex-direction: column;
}

.contact-item input,
.contact-item textarea {
    font-family: 'Roboto', sans-serif;
    padding: 11px 8px;
    font-size: 15px;
}

.contact-item input::placeholder {
    font-family: 'Roboto', sans-serif;
}

.first-box input {
    width: 15vw;
}

#email-box input,
#phone-box input {
    width: 416px;
}

.contact-item label {
    font-size: 15px;
}

#Contactus {
    position: relative;
    margin: -1px -8px
}

#Contactus::before {
    content: "";
    /* height: 345px; */
    position: absolute;
    background: url('../images/bgcontact.png') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.60;
}

/* utiltiy  */
.primary-head {
    font-size: 2rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.secondary-head {
    font-size: 17px;
    font-family: 'Baloo Bhai 2', cursive;
}

.center {
    color: white;
    padding: 8px;
    text-align: center;
    background-color: #141462;
    margin: 0px -8px -10px -10px;

}

.btn {
    width: 7rem;
    padding: 1rem;
    border-radius: 1rem;
    display: block;
    font-weight: bold;
    background-color: #2929b5;
    color: white;
    font-size: medium;
    margin: 10px auto;
}
.btn:hover{
    background-color: #141462;
}
.btn:active{
    background-color: yellow;
    color: black;
}